# Spark DataFrame Basics

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("spark://spark:7077").appName("Basics").getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/lib/python3.10/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/06/21 01:45:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
# Read in data from json file
df = spark.read.json('/data/people.json')

In [3]:
# Show the dataframe
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [ ]:
# Print the dataframe inferred schema
df.printSchema()

In [ ]:
# Get column names
df.columns

In [ ]:
# Get descriptive statistics
df.describe().show()

In [ ]:
from pyspark.sql.types import (StructField, 
                               StringType, 
                               IntegerType, 
                               StructType)

In [ ]:
# Build a schema with a list of structfields and specific pyspark types
data_schema = [StructField(name='age', 
                           dataType=IntegerType(),
                           nullable=True),
               StructField("name", StringType(), True)
              ]

In [ ]:
# Use the schema to create a StructType
final_struct = StructType(fields=data_schema)

In [ ]:
# Read in the same data from before but with a defined schema
df = spark.read.json(path = "data/people.json", schema=final_struct)

In [ ]:
# Print the new schema
df.printSchema()

In [ ]:
# Create a dataframe of a single column with .select method
df.select("age").show()

In [ ]:
# Select the first two rows, and extract the first by index
df.head(2)[0]

In [ ]:
# Create a dataframe by selecting two columns and show it
df.select(['age','name']).show()

In [ ]:
# Create a dataframe with a new column by doubling age 
#(does not modify existing df inplace)
df.withColumn("double_age", df["age"]*2).show()

In [ ]:
# Rename a Column
# (does not modify existing df inplace
df.withColumnRenamed("age","Age").show()

In [ ]:
# Use Pure SQL with DataFrames

#Register a temporary view
df.createOrReplaceTempView('people')

In [ ]:
results = spark.sql("SELECT * FROM people")

In [ ]:
results.show()

In [ ]:
new_results = spark.sql("SELECT * FROM people WHERE age>20")

In [ ]:
new_results.show()